In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("raw/latest.csv", parse_dates=["date","download_date"])

In [3]:
df

,country,lon,lat,date,refugees,download_date
0,Poland,19.401300,52.122400,2022-03-06,1027603,2022-03-07
1,Other European countries,12.999542,49.284735,2022-03-06,183688,2022-03-07
2,Hungary,19.413100,47.167200,2022-03-06,180163,2022-03-07
3,Slovakia,19.486400,48.706200,2022-03-06,128169,2022-03-07
4,Republic of Moldova,28.464600,47.197600,2022-03-06,82762,2022-03-07
5,Romania,25.300000,45.866700,2022-03-06,78977,2022-03-07
6,Russian Federation,38.155608,51.488850,2022-03-03,53300,2022-03-07
7,Belarus,28.046300,53.538400,2022-03-04,406,2022-03-07

### If refugee count smaller than 1,000, add to 'Other European countries' category

In [4]:
df["under_1000"] = ""
df.loc[df.refugees > 1000, "under_1000"] = True
df.loc[df.refugees < 1000, "under_1000"] = False

In [6]:
countries_under_1000_total = df[df.under_1000 == False].refugees.sum()

In [7]:
other_total = df[df.country == "Other European countries"].refugees.sum()

In [8]:
all_countries = df[(df.under_1000 == True) & (df.country != "Other European countries")]

In [10]:
other = {
    'country': 'Other European countries', 
    'date': df[df.country == "Other European countries"].iloc[0]["date"],
    'refugees': countries_under_1000_total+other_total,
    'download_date': df[df.country == "Other European countries"].iloc[0]["download_date"],
}

In [11]:
all_countries = all_countries.append(other, ignore_index = True)

/var/folders/7p/v902smb50m50mm_swb_lj1rh0000gn/T/ipykernel_29589/2094115918.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_countries = all_countries.append(other, ignore_index = True)

In [12]:
all_countries = all_countries.drop(["lon","lat","under_1000"], axis=1)

### Get total

In [29]:
totals = {
    'date': [all_countries.date.max()],
    'refugees': [all_countries.refugees.sum()],
    'download_date': [all_countries.download_date.max()],
}

In [32]:
total_df = pd.DataFrame.from_dict(totals)

### Export

In [13]:
all_countries.to_csv("processed/latest.csv", index=False)

In [ ]:
total_df.to_csv(f"processed/total-{}.csv", index=False)