In [119]:
import pandas as pd

In [120]:
df = pd.read_csv("raw/latest.csv", parse_dates=["date","download_date"])

In [121]:
df

,country,lon,lat,date,refugees,download_date
0,Poland,19.401300,52.122400,2022-03-03,649903,2022-03-04
1,Hungary,19.413100,47.167200,2022-03-03,144738,2022-03-04
2,Other European countries,12.999542,49.284735,2022-03-03,110876,2022-03-04
3,Republic of Moldova,28.464600,47.197600,2022-03-03,103254,2022-03-04
4,Slovakia,19.486400,48.706200,2022-03-03,90329,2022-03-04
5,Romania,25.300000,45.866700,2022-03-03,57192,2022-03-04
6,Russian Federation,38.155608,51.488850,2022-03-03,53300,2022-03-04
7,Belarus,28.046300,53.538400,2022-03-03,384,2022-03-04

### If refugee count smaller than 1,000, add to 'Other European countries' category

In [122]:
df["under_1000"] = ""
df.loc[df.refugees > 1000, "under_1000"] = True
df.loc[df.refugees < 1000, "under_1000"] = False

In [123]:
df

,country,lon,lat,date,refugees,download_date,under_1000
0,Poland,19.401300,52.122400,2022-03-03,649903,2022-03-04,True
1,Hungary,19.413100,47.167200,2022-03-03,144738,2022-03-04,True
2,Other European countries,12.999542,49.284735,2022-03-03,110876,2022-03-04,True
3,Republic of Moldova,28.464600,47.197600,2022-03-03,103254,2022-03-04,True
4,Slovakia,19.486400,48.706200,2022-03-03,90329,2022-03-04,True
5,Romania,25.300000,45.866700,2022-03-03,57192,2022-03-04,True
6,Russian Federation,38.155608,51.488850,2022-03-03,53300,2022-03-04,True
7,Belarus,28.046300,53.538400,2022-03-03,384,2022-03-04,False

In [124]:
countries_under_1000_total = df[df.under_1000 == False].refugees.sum()

In [125]:
other_total = df[df.country == "Other European countries"].refugees.sum()

In [126]:
all_countries = df[(df.under_1000 == True) & (df.country != "Other European countries")]

In [127]:
all_countries

,country,lon,lat,date,refugees,download_date,under_1000
0,Poland,19.401300,52.12240,2022-03-03,649903,2022-03-04,True
1,Hungary,19.413100,47.16720,2022-03-03,144738,2022-03-04,True
3,Republic of Moldova,28.464600,47.19760,2022-03-03,103254,2022-03-04,True
4,Slovakia,19.486400,48.70620,2022-03-03,90329,2022-03-04,True
5,Romania,25.300000,45.86670,2022-03-03,57192,2022-03-04,True
6,Russian Federation,38.155608,51.48885,2022-03-03,53300,2022-03-04,True

In [128]:
other = {
    'country': 'Other European countries', 
    'date': df[df.country == "Other European countries"].iloc[0]["date"],
    'refugees': countries_under_1000_total+other_total,
    'download_date': df[df.country == "Other European countries"].iloc[0]["download_date"],
}

In [129]:
all_countries = all_countries.append(other, ignore_index = True)

/var/folders/7p/v902smb50m50mm_swb_lj1rh0000gn/T/ipykernel_86557/2094115918.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_countries = all_countries.append(other, ignore_index = True)

In [130]:
all_countries = all_countries.drop(["lon","lat","under_1000"], axis=1)

In [131]:
all_countries.to_csv("processed/latest.csv", index=False)