In [37]:
import pandas as pd

In [38]:
df = pd.read_csv("raw/latest.csv", parse_dates=["date","download_date"])

In [39]:
df

               country        lon       lat       date  refugees download_date
0               Poland  19.401300  52.12240 2022-03-15   1830711    2022-03-15
1              Romania  25.300000  45.86670 2022-03-15    459485    2022-03-15
2  Republic of Moldova  28.464600  47.19760 2022-03-14    337215    2022-03-15
3              Hungary  19.413100  47.16720 2022-03-15    267570    2022-03-15
4             Slovakia  19.486400  48.70620 2022-03-14    213000    2022-03-15
5   Russian Federation  38.155608  51.48885 2022-03-14    142994    2022-03-15
6              Belarus  28.046300  53.53840 2022-03-14      1475    2022-03-15

In [40]:
df.refugees.sum()

3252450

### If refugee count smaller than 1,000, add to 'Other European countries' category

In [41]:
# df["under_1000"] = ""
# df.loc[df.refugees > 1000, "under_1000"] = True
# df.loc[df.refugees < 1000, "under_1000"] = False

In [42]:
# countries_under_1000_total = df[df.under_1000 == False].refugees.sum()

In [43]:
# other_total = df[df.country == "Other European countries"].refugees.sum()

In [44]:
# all_countries = df[(df.under_1000 == True) & (df.country != "Other European countries")]

In [45]:
# other = {
#     'country': 'Other European countries', 
#     'date': df[df.country == "Other European countries"].iloc[0]["date"],
#     'refugees': countries_under_1000_total+other_total,
#     'download_date': df[df.country == "Other European countries"].iloc[0]["download_date"],
# }

In [46]:
# all_countries = all_countries.append(other, ignore_index = True)

In [47]:
all_countries = df.drop(["lon","lat"], axis=1)

### Get total

In [48]:
totals = {
    'date': [all_countries.date.max()],
    'refugees': [all_countries.refugees.sum()],
    'download_date': [all_countries.download_date.max()],
}

In [49]:
total_df = pd.DataFrame.from_dict(totals)

### Export

In [50]:
all_countries.to_csv("processed/latest.csv", index=False)

In [51]:
total_df.to_csv("processed/total.csv", index=False)

In [52]:
total_df.to_json('processed/total.json',orient='records',date_format='iso')